@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
    <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-theme.min.css"))">
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
</head>

<body bgcolor="#F5EEED">
<div class="global-container">
    @views.html.layouts.header()
    <div class="main-container">
        @content
    </div>
    @views.html.layouts.footer()
</div>

</body>
</html>